@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }
    .header{
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .modal{
        padding: 24px;
    }
    .contact{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
    .contacts{
        margin: 0;
        margin-left: auto;
    }
    .contact-one{
        margin-right: 40px;
    }
    .site-nav{
        padding: 0;
    }
    .logo {
        margin-right: 76px;
    }
    .hero{
        background-color: #2E2F42;
        color: #ffffff;
        background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ), url("../images/backgroung-hero.png");
        padding-top: 188px;
        padding-bottom: 188px;
    }
    .h1-hero{
        margin-bottom: 48px;
    }
    .section-feature{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .strategy::before {
        display: block;
        content: "";
        height: 120px;
        background-image: url("../images/antenna.png");
        background-size: 64px 64px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
    }
    .punctuality::before {
        display: block;
        content: "";
        height: 120px;
        background-image: url("../images/clock.png");
        background-size: 64px 64px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
    }
    .diligence::before {
        display: block;
        content: "";
        height: 120px;
        background-image: url("../images/diagram.png");
        background-size: 64px 64px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
    }
    .technologies::before {
        display: block;
        content: "";
        height: 120px;
        background-image: url("../images/astronaut.png");
        background-size: 64px 64px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
    }
    .feature-li{
        width: 264px;
    }
    .section-work{
        display: block;
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .work{
        display: flex;
        justify-content: center;
    }
    .work-images{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 72px;
        gap: 24px;
    }
    .work-images-list{
        border: 1px solid #E7E9FC;
    }
    .section-team{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .class-team{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 24px;
    }
    .customers{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .customers-list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
    .customer-item {
        width: calc((100%-168px) / 6);
        height: 90px;
    }
    .customer-link {
        width: 100%;
        max-width: 168px;
        height: 100%;
    }
    .footer > .container {
        max-width: 1158px;
    }
    .footer{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .footer-container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .footer-social {
        width: 208px;
        margin-left: 120px;
        display: flex;
        flex-direction: column;
    }
    .online-form{
        margin: 0;
        margin-left: 80px;
    }
    .online-email{
        margin: 0;
        width: 264px;
        height: 40px;
    }
    .footer-style{
        margin: 0;
    }
    .footer-p-type{
        width: 264px;
    }
    .footer-p-text-item{
        margin: 0;
        margin-right: auto;
    }
    .footer-button-form{
        margin: 0;
        margin-top: auto;
        margin-left: 24px;
        width: 165px;
        height: 40px;
    }
}