@media screen and (min-width: 385px) {
    .container {
        max-width: 428px;
    }
    .nav-header-style{
        display: none;
    }
    .hero{
        background-color: #2E2F42;
        color: #ffffff;
        background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ), url("../images/hero-image-mob.png");
        padding-top: 112px;
        padding-bottom: 112px;
    }
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(
            to right,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
            ), url("../images/hero-image-mob-2x.png");
        }
    }
    .logo{
        display: flex;
        justify-content: flex-start;
    }
    .section-work{
        display: none;
    }
    .feature-style {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 72px;
    }
    .footer-social {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 72px;
    }
    .footer-style{
        margin: 0 auto;
        width: 268px;
        margin-bottom: 72px;
    }
    .online-email{
        width: 100%;
        max-width: 398px;
        height: 40px;
        margin-bottom: 16px;
    }
    .footer-button-form{
        margin: 0 auto;
    }
    .h3-type-item {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2E2F42;
        display: flex;
        text-overflow: ellipsis;
    }
    .section-card-one{
        width: 100%;
        max-width: 396px;
    }
    .list-examples{
        display: flex;
        flex-direction: column;
        column-gap: 48px;
        row-gap: 72px;
    }
    .text-card-position{
        padding: 0;
        margin-top: 32px;
        padding-left: 16px;
        padding-bottom: 32px;
    }
    .image_port{
        width: 100%;
    }
    .section-buttons{
        display: flex;
        flex-wrap: wrap;
    }
}