@media screen and (min-width: 480px) {
    .container {
        max-width: 428px;
    }
    .header{
        display: none;
    }
    .hero{
        background-color: #2E2F42;
        color: #ffffff;
        background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ), url("../images/hero-image-mob.png");
        padding-top: 112px;
        padding-bottom: 112px;
    }
    .section-work{
        display: none;
    }
    .feature-style {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 72px;
    }
    .footer-social {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 72px;
    }
    .footer-style{
        margin: 0 auto;
        width: 268px;
        margin-bottom: 72px;
    }
    .online-email{
        width: 100%;
        max-width: 398px;
        height: 40px;
        margin-bottom: 16px;
    }
    .footer-button-form{
        margin: 0 auto;
    }
}